name: GameTracker

on: [push]

jobs:
  service:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'
    - name: Build with dotnet
      run: dotnet publish GameTracker.Service --configuration Release --output ./service
    - uses: actions/upload-artifact@v4
      with:
        name: service
        path: ./service

  web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 22
    - run: npm ci
      working-directory: ./GameTracker.Web
    - run: npm run build
      working-directory: ./GameTracker.Web
    - uses: actions/upload-artifact@v4
      with:
        name: web
        path: ./GameTracker.Web/dist

  combine:
    needs: [service, web]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: ./artifacts
        merge-multiple: true
    - uses: actions/upload-artifact@v4
      with:
        name: combined
        path: ./artifacts